:root {
  --padding: 4px;
}

body {
  /* margin: var(--body-margin); */
  /* margin-top: 88px; */
  /* padding: 0; */
  /* width: calc(100% - 3*var(--body-margin) - var(--toolbox-width)); */
  font-size: 16px;
  font-family: Avenir Next, Avenir, sans-serif;
  /* color: #3a3a3a; */
}

body > * {
  margin-bottom: 2em;
}

.box {
  /* border: solid 1px black; */
}

.label {
  font-size: 0.7em;
}

table {
  border-collapse: collapse;
}

td {
  border: solid 1px black;
  padding: var(--padding);
}